body{
  margin: 0;
}


#pokemonClick{
  margin:0;
  position: absolute;
  top: 130px;
  left: 430px;
  transition: transform .2s;
}

#pokemonClick:hover{
  transform: scale(1.5);
}

#logo{
  position: absolute;
  top: 440px;
  left : 870px;
}

#project{
  display:none;
  cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto;
  position: absolute;
 width: 100vw;
 height: 100vh;
 margin: auto;
 background-image: linear-gradient(to left, #b6d1c9, #3b5453);
}

#professorOak{
  position: absolute;
  left: 45%;
  top: 60px;
}

#bulbasaur{
  position: absolute;
  left: 40%;
  top: 313px;
}

#dialogBox{
  height: 140px;
  width: 340px;
  background-color:white;
  border-style: double;
  border-width: 10px;
  position: absolute;
  left: 36%;
  top: 426px;
}

#trainerText{
  padding: 7% 15%;
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto;
}


#yes{
 height: 70px;
 width: 100px;
 background-color: white;
 border: none;
 font-family: 'Press Start 2P', cursive;
 text-align: center;
 text-decoration: none;
 display: block;
 font-size: 20px;
 cursor: pointer;
 cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto;
 border-style: double;
 border-width: 5px;
 padding: 20px;
}

#trainerName{
  display:none;
}

#no{
  height: 70px;
  width: 100px;
  background-color: white;
  border: none;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto;
  text-align: center;
  font-size: 20px;
  display: block;
  border-style: double;
  border-width: 5px;
  padding: 20px
}

.options{
  position: absolute;
  left: 370px;
  bottom: -8px;
  display: block;
}
