/* body{
  margin: 0;
  background-color: ;
}

.heading{
  margin:0;
  position: static;
  background: rgb(178,17,0);
  background-repeat: no-repeat;
  border-style: solid;
  width: 100vw;
  height: 20vh;
  z-index: 1;
}

footer{
  background: rgb(178,17,0);
  border-style: solid;
  border-width: 5px;
  box-shadow: 11px -10px 10px grey;
  width: 100vw;
  height: 20vh;
}


h1{
  width: 350px;
  margin: 0;
  line-height: 100px;
}
#Pokedex{
  font-family: 'Press Start 2P', cursive;
  padding-top: 24px;
  font-size: 30px;
  padding-left: 360.5px;

}

#ball{
  position: absolute;
  margin-top: -70px;
  padding-left: 90px;
  z-index: 1;
}

#gameFreak{
  position: absolute;
  margin-top: -60px;
  padding-left:777px;
  z-index: 1;
} */
/*
#grid{
  display: grid;
  border-color: black;
  border-width: 5px;
  grid-template: 20vh 20vh/ repeat(3,20vw);
  grid-template-areas:
  "header . header"
  ". . ."
  "footer footer footer";

}

.header{
  grid-area: header;
  background: rgb(178,17,0);
  /* border-width: 5px;
  box-shadow: 10px 10px 5px grey;
}

/* .dex{
grid-area: dex;
  background-color: green;
} */

/* .footer{
  grid-area: footer;
  background-color: purple;
}  */

body{
  margin: 0;
  background: rgb(16,93,107);
}

.heading{
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 100vw;
  height: 20vh;
  background: rgb(178,17,0);
}

.bottom{
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 100vw;
  height: 20vh;
  background-color: white;
  position: absolute;
  bottom: 0vh;
}

#Pokedex{
  font-family: 'Press Start 2P', cursive;
  padding-top: 61px;
  font-size: 30px;
  padding-left: 23.5px;
}

#circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 50%;
    margin-left: 44.3%;
    margin-top: -33px;
}

#halfCircle{
  position: absolute;
  margin-left: 46.3%;
  height:50px;
  width:100px;
  border-radius: 0 0 90px 90px;
  background: lightslategray;
}

button{
  background-color: rgb(56,233,205); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
