body{
  margin: 0;
  background-color: rgb(250,214,31);
}

.heading{
  margin:0;
  position: absolute;
  background: lightblue;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 5px;
  width: 100vw;
  height: 25vh;
  box-shadow: 10px 10px 5px grey;
  z-index: 1;
}

h1{
  width: 350px;
  margin: 0;
  line-height: 100px;
}
#Pokedex{
  font-family: 'Press Start 2P', cursive;
  padding-top: 24px;
  font-size: 80px;
  padding-left: 360.5px;

}

#ball{
  position: absolute;
  margin-top: -70px;
  padding-left: 90px;
  z-index: 1;
}

#gameFreak{
  position: absolute;
  margin-top: -60px;
  padding-left:777px;
  z-index: 1;
}

#grid{
  position: absolute;
  margin: 30px 20px;
  display: grid;
  border-color: black;
  grid-template: 20vh 20vh / repeat(2,25vw);
  grid-template-areas:
  " up side"
  "dex sec "
}

.up{
  background-color: red;
}

.side{
  background-color: blue;
}

.dex{
  background-color: green;
}

.sec{
  background-color: purple;
}
