body{
  margin: 0;
  background-color: rgb(250,214,31);
}

.heading{
  margin:0;
  position: absolute;
  background: lightblue;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 5px;
  width: 100vw;
  height: 25vh;
  box-shadow: 10px 10px 5px grey;
  z-index: 1;
}

h1{
  width: 350px;
  margin: 0;
  line-height: 100px;
}
#Pokedex{
  font-family: 'Press Start 2P', cursive;
  padding-top: 24px;
  font-size: 80px;
  padding-left: 360.5px;

}

#ball{
  position: absolute;
  margin-top: -70px;
  padding-left: 90px;
  z-index: 1;
}
